{% extends 'layout.html' %}
{% load bootstrap %}
{% load static %}
{% block title %}
<title>RESET</title>
{% endblock%}

{% block main_content %}


<section class="top-banner d-flex mt-5 top-banner-img">
     <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="{% static 'videos/top-banner.mp4' %}" type="video/mp4">
        </video>
    <div class="container d-flex justify-content-center align-items-center flex-column text-light">
       <h4 class="fw-normal">Reset Password</h4>
        <div class=" text-center ">
            <p class="a_tag text-light">
                <a href="/" class="text-danger text-decoration-none">Home</a> / Password Reset
            </p>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
         <div class="my-5 py-5 card card-custom text-card text-center">
             <h4>Well done!</h4>
             <p>An Email has been sent with instructions to reset your password.
             <b>Check Your Email!</b></p> </div>
    </div>

</div>


{% endblock %}