{% extends 'layout.html' %}
{% load bootstrap %}
{% block title %}
{% load static %}

<title>RESET</title>
{% endblock%}

{% block main_content %}
<style>
    input{
    color:#ff914 !important;
    background-color: black;
}
.card{
        background-color: #29222217;
        transition: 0.5s;
        box-shadow: 0px 0px 21px -7px #283b76;
}

.card:hover{
        box-shadow:0px 0px 24px 1px #283b76;
}
.control-label{
    font-size:1.5rem;
    width:100%;
    color: #909090;
}

.form-control{
    background-color: black !important;
    margin:auto;
    color: white !important;

}
.border-white{
    border: 1px solid white !important;
    width: 83%;
}
.col-sm-10.col-lg-10 {
     margin:auto;
}

</style>

<section class="top-banner d-flex mt-5 top-banner-img">
     <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="{% static 'videos/top-banner.mp4' %}" type="video/mp4">
        </video>
    <div class="container d-flex justify-content-center align-items-center flex-column text-light">
       <h4 class="fw-normal">Reset Password</h4>
        <div class=" text-center ">
            <p class="a_tag text-light">
                <a href="/" class="text-danger text-decoration-none">Home</a> / Password Reset
            </p>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
         <div class="my-5 py-5 card card-custom  text-center">
             <h5>Enter Your New Password</h5>
             <form method="POST">
                 {% csrf_token %}
                 {{form | bootstrap_horizontal }}
                 <button type="submit" class="btn custom-button2 custom-button2-border-light" style="width:83%;">Change Password</button>
             </form>
    </div>

</div>


{% endblock %}